@font-face {
    font-family: 'chippyfontregular';
    src: url('chippyfont-regular-webfont.woff2') format('woff2'),
         url('chippyfont-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.link:hover {
    color: #FFF;
    border: #000 6px solid;
}
.portfolio_section {
    display: flex;
    align-items: center;
    justify-content: left;
}
.portfolio_section.aaa {
    display: block;
    align-items: center;
    justify-content: center;
}
.portfolio_img {
    width: 50dvw;
    height: auto;
    margin-right: 20px;
}
.portfolio_img_badge {
    width: 20dvw;
    height: auto;
}
.portfolio_des_text {
    font-size: 2.5em;
    font-family: chippyfontregular;
    margin-top: 0px;
    line-height: 100%;
  }
.kofi_logo {
    width: 20%;
    height: auto;
    position: static;
}
.portfolio_callout {
    font-size: 2.5em;
    text-align: left;
    font-family: chippyfontregular;
    margin-top: 0px;
    line-height: 100%;
}
.des_text {
    font-size: 2.5em;
    text-align: left;
    font-family: chippyfontregular;
    margin-top: 0px;
    line-height: 100%;
    margin-bottom: 0px;
}
nav {
    background-color: #2200cc; /* Dark background */
    position: fixed; /* Fixed position at the top */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Ensure it stays on top of other content */
}
h2 {
    color: #000000;
    font-size: 50px;
    text-align: center;
    font-family: chippyfontregular;
    margin-top: 0px;
    margin-bottom: -4px;
}
nav ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
 /* Clear floats */
}

nav li {
    float: left; /* Float list items to create a horizontal menu */
}

nav a {
    display: block; /* Make the entire link clickable */
    font-size: 30px;
    color: white; /* White text */
    text-align: center; /* Center the text */
    padding: 8px 16px; /* Add some padding */
    text-decoration: none; /* Remove underlines */
}
nav a:hover {
    background-color: #000; /* Darker background on hover */
}
h1 {
    color: #000000;
    font-size: 75px;
    text-align: center;
    font-family: chippyfontregular;
    margin-top: 1px;
    margin-bottom: -4px;
}
.thingie {
    position: relative;
    bottom: -10px;
}
.thingie:hover {
  filter: invert(1);
}
a.socials {
    color: #000000;
    font-size: 50px;
}
a.socials:hover {
    color: #ffffff;
}
hr.funny-face {
  border: none;
  height: 30px; /* You can adjust this height */
  background-image: url('./cat.svg');
  background-repeat: repeat-x;
  background-size: 20px 20px;
  background-position: center;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  overflow: visible;
}
/*.text-hr-content {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 25px;
  text-align: center;
  background: #aa00ff;
  letter-spacing: 5px;
  font-family: chippyfontregular, monospace;
  line-height: 20px;
}*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2200cc;
  color: white;
  text-align: center;
  height: 10dvh;
  font-size: 2dvh;
  font-family: chippyfontregular;
  padding-top: 0%;
}


body {
    margin-top: 50px; /* Add margin to the body to prevent content from being hidden behind the navbar */
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom:10dvh;
}
html
{
    background-color: #aa00ff;
    color: #000000;
    font-family: 'chippyfontregular';
}
